In [23]:
import pandas as pd 
import numpy as np 
from selenium import webdriver
import selenium 
from selenium.webdriver.common.by import By
from selenium import webdriver
from selenium.webdriver.chrome.service import Service 
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException 
from concurrent.futures import ThreadPoolExecutor
import csv
import time
from bs4 import BeautifulSoup
import requests

In [5]:

# Set up Chrome options
options = Options()
options.add_argument("start-maximized")
options.add_argument("--disable-blink-features=AutomationControlled")  

# Initialize WebDriver
driver = webdriver.Chrome(options=options)

# Define city URLs
cities = {
    "Hyderabad": "https://www.99acres.com/property-in-hyderabad-ffid",
    "Bangalore": "https://www.99acres.com/property-in-bangalore-ffid",
    "Delhi": "https://www.99acres.com/property-in-delhi-ffid"
}

# Wait setup
wait = WebDriverWait(driver, 15)

# Master list to store all data
all_data = []

# Function to extract property data
def extract_data(city):
    try:
        # Selectors for different city formats
        selectors = {
            "Hyderabad": {
                "name": "div.tupleNew__locationName",
                "location": "h2.tupleNew__propType",
                "price": "div.configs__ccl2",
                "size": "div.configs__ccl1",
                "Builder": "div.PseudoTupleRevamp__contactSubheading"
            },
            "Bangalore": {
                "name": "div.PseudoTupleRevamp__headNrating a.ellipsis",
                "location": "span.PseudoTupleRevamp__w400Ml4 span",
                "price": "div.configs__ccl2",
                "size": "div.configs__ccl1",
                "Builder": "div.PseudoTupleRevamp__contactSubheading"
            },
            "Delhi": {
                "name": "div.tupleNew__locationName",
                "location": "h2.tupleNew__propType",
                "price": "div.configs__ccl2",
                "size": "div.configs__ccl1",
                "Builder": "div.PseudoTupleRevamp__contactSubheading"
            }
        }

        sel = selectors[city]

        # Extract property details
        property_names = driver.find_elements(By.CSS_SELECTOR, sel["name"])
        property_locations = driver.find_elements(By.CSS_SELECTOR, sel["location"])
        property_prices = driver.find_elements(By.CSS_SELECTOR, sel["price"])
        property_sizes = driver.find_elements(By.CSS_SELECTOR, sel["size"])
        property_Builder = driver.find_elements(By.CSS_SELECTOR, sel["Builder"])

        # Determine the number of listings
        total_items = min(len(property_names), len(property_locations), len(property_prices), len(property_sizes))

        for i in range(total_items):
            name = property_names[i].text.strip() if i < len(property_names) else "N/A"
            location = property_locations[i].text.strip() if i < len(property_locations) else "N/A"
            price = property_prices[i].text.strip() if i < len(property_prices) else "N/A"
            size = property_sizes[i].text.strip() if i < len(property_sizes) else "N/A"
            Builder = property_Builder[i].text.strip() if i < len(property_Builder) else "N/A"

            all_data.append([city, name, location, price, size, Builder])

    except Exception as e:
        print(f"Error extracting data for {city}: {e}")

# Function to scroll down and extract data
def scroll_and_scrape(city):
    for _ in range(5):  # Scroll 5 times per page
        extract_data(city)
        driver.execute_script("window.scrollBy(0, 1000);")  # Scroll down
        time.sleep(3)  # Wait for content to load

# Pagination logic
def scrape_city(city, url):
    print(f"Scraping {city}...")

    # Open city page
    driver.get(url)
    time.sleep(5)  # Allow page to load

    page_count = 0
    visited_pages = set()

    while page_count < 50:  # Stop after 50 pages
        print(f"Scraping Page {page_count + 1} of {city}...")

        # Scroll and scrape data
        scroll_and_scrape(city)

        # Find and click "Next Page"
        try:
            next_button = wait.until(EC.presence_of_element_located((By.XPATH, '//a[contains(@class, "list_header_bold") and contains(text(), "Next Page")]')))
            next_page_url = next_button.get_attribute("href")

            if next_page_url and next_page_url not in visited_pages:
                visited_pages.add(next_page_url)
                driver.get(next_page_url)
                time.sleep(5)  # Allow next page to load
                page_count += 1
            else:
                print(f"No more pages available for {city}.")
                break
        except:
            print(f"Next Page button not found. Ending pagination for {city}.")
            break  # Stop if no "Next Page" button is found

# Run scraper for all cities
for city, url in cities.items():
    scrape_city(city, url)

# Create DataFrame
df = pd.DataFrame(all_data, columns=['City', 'Property Name', 'Location', 'Price', 'Size', 'Builder'])

# Save to CSV
df.to_csv('new_properties_acres_all_cities.csv', index=False)

# Print summary
print(df.head())

# Close driver
driver.quit()

Scraping Hyderabad...
Scraping Page 1 of Hyderabad...
Scraping Page 2 of Hyderabad...
Scraping Page 3 of Hyderabad...
Scraping Page 4 of Hyderabad...
Scraping Page 5 of Hyderabad...
Scraping Page 6 of Hyderabad...
Scraping Page 7 of Hyderabad...
Scraping Page 8 of Hyderabad...
Scraping Page 9 of Hyderabad...
Scraping Page 10 of Hyderabad...
Scraping Page 11 of Hyderabad...
Scraping Page 12 of Hyderabad...
Scraping Page 13 of Hyderabad...
Scraping Page 14 of Hyderabad...
Scraping Page 15 of Hyderabad...
Scraping Page 16 of Hyderabad...
Scraping Page 17 of Hyderabad...
Scraping Page 18 of Hyderabad...
Scraping Page 19 of Hyderabad...
Scraping Page 20 of Hyderabad...
Scraping Page 21 of Hyderabad...
Scraping Page 22 of Hyderabad...
Scraping Page 23 of Hyderabad...
Scraping Page 24 of Hyderabad...
Scraping Page 25 of Hyderabad...
Scraping Page 26 of Hyderabad...
Scraping Page 27 of Hyderabad...
Scraping Page 28 of Hyderabad...
Scraping Page 29 of Hyderabad...
Scraping Page 30 of Hyderabad...
Scraping Page 31 of Hyderabad...
Scraping Page 32 of Hyderabad...
Scraping Page 33 of Hyderabad...
Scraping Page 34 of Hyderabad...
Scraping Page 35 of Hyderabad...
Scraping Page 36 of Hyderabad...
Scraping Page 37 of Hyderabad...
Scraping Page 38 of Hyderabad...
Scraping Page 39 of Hyderabad...
Scraping Page 40 of Hyderabad...
Scraping Page 41 of Hyderabad...
Scraping Page 42 of Hyderabad...
Scraping Page 43 of Hyderabad...
Scraping Page 44 of Hyderabad...
Scraping Page 45 of Hyderabad...
Scraping Page 46 of Hyderabad...
Scraping Page 47 of Hyderabad...
Scraping Page 48 of Hyderabad...
Scraping Page 49 of Hyderabad...
Scraping Page 50 of Hyderabad...
Scraping Bangalore...
Scraping Page 1 of Bangalore...
Scraping Page 2 of Bangalore...
Scraping Page 3 of Bangalore...
Scraping Page 4 of Bangalore...
Scraping Page 5 of Bangalore...
Scraping Page 6 of Bangalore...
Scraping Page 7 of Bangalore...
Scraping Page 8 of Bangalore...
Scraping Page 9 of Bangalore...
Scraping Page 10 of Bangalore...
Scraping Page 11 of Bangalore...
Scraping Page 12 of Bangalore...
Scraping Page 13 of Bangalore...
Scraping Page 14 of Bangalore...
Scraping Page 15 of Bangalore...
Scraping Page 16 of Bangalore...
Scraping Page 17 of Bangalore...
Scraping Page 18 of Bangalore...
Scraping Page 19 of Bangalore...
Scraping Page 20 of Bangalore...
Scraping Page 21 of Bangalore...
Scraping Page 22 of Bangalore...
Scraping Page 23 of Bangalore...
Scraping Page 24 of Bangalore...
Scraping Page 25 of Bangalore...
Scraping Page 26 of Bangalore...
Scraping Page 27 of Bangalore...
Scraping Page 28 of Bangalore...
Scraping Page 29 of Bangalore...
Scraping Page 30 of Bangalore...
Scraping Page 31 of Bangalore...
Scraping Page 32 of Bangalore...
Scraping Page 33 of Bangalore...
Scraping Page 34 of Bangalore...
Scraping Page 35 of Bangalore...
Scraping Page 36 of Bangalore...
Scraping Page 37 of Bangalore...
Scraping Page 38 of Bangalore...
Scraping Page 39 of Bangalore...
Scraping Page 40 of Bangalore...
Scraping Page 41 of Bangalore...
Scraping Page 42 of Bangalore...
Scraping Page 43 of Bangalore...
Scraping Page 44 of Bangalore...
Scraping Page 45 of Bangalore...
Scraping Page 46 of Bangalore...
Scraping Page 47 of Bangalore...
Scraping Page 48 of Bangalore...
Scraping Page 49 of Bangalore...
Scraping Page 50 of Bangalore...
Scraping Delhi...
Scraping Page 1 of Delhi...
Scraping Page 2 of Delhi...
Scraping Page 3 of Delhi...
Scraping Page 4 of Delhi...
Scraping Page 5 of Delhi...
Scraping Page 6 of Delhi...
Scraping Page 7 of Delhi...
Scraping Page 8 of Delhi...
Scraping Page 9 of Delhi...
Scraping Page 10 of Delhi...
Scraping Page 11 of Delhi...
Scraping Page 12 of Delhi...
Scraping Page 13 of Delhi...
Scraping Page 14 of Delhi...
Scraping Page 15 of Delhi...
Scraping Page 16 of Delhi...
Scraping Page 17 of Delhi...
Scraping Page 18 of Delhi...
Scraping Page 19 of Delhi...
Scraping Page 20 of Delhi...
Scraping Page 21 of Delhi...
Scraping Page 22 of Delhi...
Scraping Page 23 of Delhi...
Scraping Page 24 of Delhi...
Scraping Page 25 of Delhi...
Scraping Page 26 of Delhi...
Scraping Page 27 of Delhi...
Scraping Page 28 of Delhi...
Scraping Page 29 of Delhi...
Scraping Page 30 of Delhi...
Scraping Page 31 of Delhi...
Scraping Page 32 of Delhi...
Scraping Page 33 of Delhi...
Scraping Page 34 of Delhi...
Scraping Page 35 of Delhi...
Scraping Page 36 of Delhi...
Scraping Page 37 of Delhi...
Scraping Page 38 of Delhi...
Scraping Page 39 of Delhi...
Scraping Page 40 of Delhi...
Scraping Page 41 of Delhi...
Scraping Page 42 of Delhi...
Scraping Page 43 of Delhi...
Scraping Page 44 of Delhi...
Scraping Page 45 of Delhi...
Scraping Page 46 of Delhi...
Scraping Page 47 of Delhi...
Scraping Page 48 of Delhi...
Scraping Page 49 of Delhi...
Scraping Page 50 of Delhi...
        City            Property Name  \
0  Hyderabad           OMER RESIDENCY
1  Hyderabad  Narayankhed, Sangareddy
2  Hyderabad
3  Hyderabad           OMER RESIDENCY
4  Hyderabad  Narayankhed, Sangareddy

                                            Location            Price  \
0  3 BHK Flat in Salarjung Colony, Old Mumbai Hig...     ₹1 - 1.13 Cr
1  Residential land / Plot in Narayankhed, Sangar...  ₹1.29 - 1.78 Cr
2                                                            ₹2.57 Cr
3  3 BHK Flat in Salarjung Colony, Old Mumbai Hig...     ₹1 - 1.13 Cr
4  Residential land / Plot in Narayankhed, Sangar...  ₹1.29 - 1.78 Cr

              Size                            Builder
0  2 BHK Apartment     Bricks Ramabhupal Projects LLP
1  3 BHK Apartment                        Sujay Infra
2  4 BHK Apartment  Shiva Sai Constructions Hyderabad
3  2 BHK Apartment     Bricks Ramabhupal Projects LLP
4  3 BHK Apartment                        Sujay Infra

In [11]:
df

,City,Property Name,Location,Price,Size,Builder
0,Hyderabad,OMER RESIDENCY,"3 BHK Flat in Salarjung Colony, Old Mumbai Hig...",₹1 - 1.13 Cr,2 BHK Apartment,Bricks Ramabhupal Projects LLP
1,Hyderabad,"Narayankhed, Sangareddy","Residential land / Plot in Narayankhed, Sangar...",₹1.29 - 1.78 Cr,3 BHK Apartment,Sujay Infra
2,Hyderabad,NaN,NaN,₹2.57 Cr,4 BHK Apartment,Shiva Sai Constructions Hyderabad
3,Hyderabad,OMER RESIDENCY,"3 BHK Flat in Salarjung Colony, Old Mumbai Hig...",₹1 - 1.13 Cr,2 BHK Apartment,Bricks Ramabhupal Projects LLP
4,Hyderabad,"Narayankhed, Sangareddy","Residential land / Plot in Narayankhed, Sangar...",₹1.29 - 1.78 Cr,3 BHK Apartment,Sujay Infra
...,...,...,...,...,...,...
3525,Delhi,"Greater Kailash 2, Delhi, South Delhi",4 BHK Independent Builder Floor in Greater Kai...,₹6.16 - 11 Cr,4 BHK Apartment,NaN
3526,Delhi,"Friends Colony West, Delhi, South Delhi",4 BHK Independent Builder Floor in Friends Col...,₹21 Cr,5 BHK Apartment,NaN
3527,Delhi,RNA Super Luxury Builder Floors,"4 BHK Independent Builder Floor in Anand Lok, ...",₹4.4 - 5.5 Cr,3 BHK Apartment,RV Properties
3528,Delhi,"Greater Kailash 2, Delhi, South Delhi",4 BHK Independent Builder Floor in Greater Kai...,₹6.16 - 11 Cr,4 BHK Apartment,NaN
3529,Delhi,"Friends Colony West, Delhi, South Delhi",4 BHK Independent Builder Floor in Friends Col...,₹21 Cr,5 BHK Apartment,NaN

In [19]:
import pandas as pd
import re

# Load dataset
df = pd.read_csv("new_properties_acres_all_cities.csv")  

# Handling missing values in categorical columns
df.fillna({'Property Name': 'Unknown', 'Location': 'Unknown', 'Builder': 'Unknown'}, inplace=True)

# Function to clean and convert Price column
def clean_price(price):
    if pd.isna(price):
        return None  # Keep it None for now, we’ll fill it later
    # Remove currency symbols and commas
    price = price.replace("₹", "").replace(",", "").strip()
    
    # If it's a range like "6.16 - 11 Cr", take the max value (after '-')
    if '-' in price:
        price = price.split('-')[-1].strip()
    
    # Convert to numeric values based on units (Cr = Crore, L = Lakh)
    match = re.match(r"([\d.]+)\s*(Cr|L)?", price)
    if match:
        value, unit = match.groups()
        value = float(value)
        if unit == "Cr":
            return int(value * 10**7)  # Convert Crores to numeric
        elif unit == "L":
            return int(value * 10**5)  # Convert Lakhs to numeric
        else:
            return int(value)  # Direct integer
    return None

# Apply function to Price column
df["Price"] = df["Price"].apply(clean_price)

# Handling missing values in Price (fill with median)
median_price = df["Price"].median()  # Calculate median price
df.fillna({"Price": median_price}, inplace=True)  # Fixed warning issue

# Function to clean Location column
def clean_location(location):
    if pd.isna(location):
        return "Unknown"
    # Remove property type prefixes like "3 BHK Flat in", "4 BHK Independent Builder Floor in", etc.
    return re.sub(r"^\d+\s*BHK\s*[\w\s]*in\s*|^Residential land / Plot in\s*", "", location).strip()

# Apply function to Location column
df["Location"] = df["Location"].apply(clean_location)

# Handling missing values in Size (fill with most common size)
df.fillna({"Size": df["Size"].mode()[0]}, inplace=True)  # Using mode for missing Size

# Save cleaned data
df.to_csv("cleaned_property_data.csv", index=False)

# Print output
print(df.head())
print("\nMissing values in dataset:\n", df.isnull().sum())

        City            Property Name                              Location  \
0  Hyderabad           OMER RESIDENCY  Salarjung Colony, Old Mumbai Highway
1  Hyderabad  Narayankhed, Sangareddy               Narayankhed, Sangareddy
2  Hyderabad                  Unknown                               Unknown
3  Hyderabad           OMER RESIDENCY  Salarjung Colony, Old Mumbai Highway
4  Hyderabad  Narayankhed, Sangareddy               Narayankhed, Sangareddy

        Price             Size                            Builder
0  11299999.0  2 BHK Apartment     Bricks Ramabhupal Projects LLP
1  17800000.0  3 BHK Apartment                        Sujay Infra
2  25700000.0  4 BHK Apartment  Shiva Sai Constructions Hyderabad
3  11299999.0  2 BHK Apartment     Bricks Ramabhupal Projects LLP
4  17800000.0  3 BHK Apartment                        Sujay Infra

Missing values in dataset:
 City             0
Property Name    0
Location         0
Price            0
Size             0
Builder          0
dtype: int64

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3530 entries, 0 to 3529
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   City           3530 non-null   object
 1   Property Name  3530 non-null   object
 2   Location       3530 non-null   object
 3   Price          3530 non-null   float64
 4   Size           3530 non-null   object
 5   Builder        3530 non-null   object
dtypes: float64(1), object(5)
memory usage: 165.6+ KB

In [21]:
df

,City,Property Name,Location,Price,Size,Builder
0,Hyderabad,OMER RESIDENCY,"Salarjung Colony, Old Mumbai Highway",11299999.0,2 BHK Apartment,Bricks Ramabhupal Projects LLP
1,Hyderabad,"Narayankhed, Sangareddy","Narayankhed, Sangareddy",17800000.0,3 BHK Apartment,Sujay Infra
2,Hyderabad,Unknown,Unknown,25700000.0,4 BHK Apartment,Shiva Sai Constructions Hyderabad
3,Hyderabad,OMER RESIDENCY,"Salarjung Colony, Old Mumbai Highway",11299999.0,2 BHK Apartment,Bricks Ramabhupal Projects LLP
4,Hyderabad,"Narayankhed, Sangareddy","Narayankhed, Sangareddy",17800000.0,3 BHK Apartment,Sujay Infra
...,...,...,...,...,...,...
3525,Delhi,"Greater Kailash 2, Delhi, South Delhi","Greater Kailash 2, Delhi",110000000.0,4 BHK Apartment,Unknown
3526,Delhi,"Friends Colony West, Delhi, South Delhi","Friends Colony West, Delhi",210000000.0,5 BHK Apartment,Unknown
3527,Delhi,RNA Super Luxury Builder Floors,"Anand Lok, Delhi",55000000.0,3 BHK Apartment,RV Properties
3528,Delhi,"Greater Kailash 2, Delhi, South Delhi","Greater Kailash 2, Delhi",110000000.0,4 BHK Apartment,Unknown
3529,Delhi,"Friends Colony West, Delhi, South Delhi","Friends Colony West, Delhi",210000000.0,5 BHK Apartment,Unknown

In [22]:
import pandas as pd
from sqlalchemy import create_engine
import datetime

# Start time
start_time = datetime.datetime.now()
print('Begin:', start_time)

# Correct MySQL connection string
engine = create_engine('mysql+pymysql://root:Sharma%40123@localhost:3306/amazon_products')

df = pd.read_csv("cleaned_property_data.csv")  

# Try inserting data into MySQL
try:
    df.to_sql(name='99acers_property', con=engine, index=False, if_exists='replace')
    print("Successfully imported")
except Exception as e:
    print(f"Failed to import. Error: {e}")

# End time
end_time = datetime.datetime.now()
print('End:', end_time)

# Total execution time
total_time = end_time - start_time
print('Total time:', total_time)

Begin: 2025-03-29 10:37:54.559488
Successfully imported
End: 2025-03-29 10:37:54.846719
Total time: 0:00:00.287231